@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0e0e10;
    color: #d1d1d3;
}

.table {
    background-color: #18181a;
    color: #d1d1d3;
    border: none;
}

.btn-success {
    background-color: #f25022;
    border-color: #f25022;
}

.btn-success:hover {
    background-color: #f27042;
    border-color: #f25022;
}

.btn-outline-success {
    border-color: #f25022;
    color: #f25022;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #f25022;
    border-color: #f25022;
}

.btn-outline-info {
    border-color: #2205f2;
    color: #2205f2;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #2205f2;
    border-color: #2205f2;
}

.btn-info {
    border-color: #2205f2;
    background-color: #2205f2;
    color: #fff;
}

.btn-info:hover {
    color: #fff;
    background-color: #2205f2;
    border-color: #2205f2;
}

.btn-info:focus {
    color: #fff;
    background-color: #2205f2;
    border-color: #2205f2;
}

.btn-success:focus {
    color: #fff;
    background-color: #f25022;
    border-color: #f25022;
}

a {
    color: #f25022;
}

a:hover {
    color: #2205f2;
}

.navbar {
    background-color: #18181a !important;
}

.breadcrumb {
    background-color: #18181a;
    color: #d1d1d3;
}

.page-link {
    background-color: #18181a !important;
    color: #f25022 !important;
}

.page-item.active .page-link {
    border-color: #f25022 !important;
}

.page-item.disabled .page-link {
    color: #4e1a0c !important;
}

#linea-seguidores {
    margin: auto;
    display: inline-block;
}

#linea-seguidores h3 {
    display: inline-block;
}

#linea-seguidores h3:nth-child(2) {
    padding-left: 1.5em;
}

.table th, .table td {
    border-top: 1px solid rgb(56, 54, 54);
    border-bottom: 1px solid rgb(56, 54, 54);
}

#stats th {
    font-weight: 500;
}

/* #comentarios{
    background-color: #d1d1d3;
} */

#comentario {
    margin-bottom: 1em;
    background-color: #18181a;
}

#cuerpo {
    margin: 1em;
}

#fecha {
    margin: 1em;
}

#modificar {
    margin-right: 1em;
}